.clients {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 25px 0 100px 0;
    &__logo {
        width: 25%;
    filter: grayscale(100%);
    
    }
    &__img {
        width: 70%;
        padding: 20px;
        opacity: .5;
    }
}