.popup {
    width: 70%;
    margin: 10px auto;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    &__img {
        position: absolute;
        right: 7px;
        top: 7px;
    }
    &__menu {
        list-style: none;
        margin: 0 auto;
        padding: 25px 150px 15px;
        font-size: $h1-size;
        text-align: center;
        text-transform: capitalize;
    }
    &__item a {
        color: #d2d2d2;
        text-decoration: none;
            @include hover {
                color: $brand-color;
        }
    }      
    &__socials {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        position: relative;
        &:before {
            content: '';
            border-top: 1px solid #d1d9e4;
            width: 400px;
            position: absolute;
            
        }
    }
    &__social {
        font-size: 3rem;
        text-align: center;
        width: 55px;
        height: 55px;
        margin: 15px;
        margin-top: 75px;
        border-radius: 50%;
        background-color: #e1e1e1;
        @include hover {
            background-color: $brand-color;
            border: 1px  solid $brand-color;
        }   
    }
        &__link {
            color: #fff;
        }
    &__flag {
        text-align: right;
        position: relative;
        & a {
            display: flex;
            text-decoration: none;
            position: absolute;
            right: 7px;
            top: 7px;
            color: #d2d2d2;
        }
    }    
}
